doctype html
html(
	lang='en'
	dir='ltr'
	)
	head
		meta(charset='UTF-8')
		title Is /u/GallowBoob on the front page of reddit?
		base(href='https://www.reddit.com/' target='_blank')
		script document.documentElement.classList.add('js')
		style: include index.css
		//- link(
			rel='preload'
			href='https://www.reddit.com/r/all/.json?limit=50'
			)
	body
		h1#title Is #[a(href='/u/GallowBoob') /u/GallowBoob] on the front page of reddit?
		.no-js
			p You do not appear to have scripting enabled.
			p Sadly, static pages will fail without scripting.
		.js
			h2#answer='Checking\u2026'
			dl#posts
			h2#allusers
			dl#users
		script: include index.js
		footer
			p ohai
			small=`\xA9 Copyright ${new Date().getFullYear()} `
